<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcstupegithubmonitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7a465b48-f111-47c3-aa7d-bb0f2ee9631c/resourceGroups/rgStupe/providers/Microsoft.Web/sites/funcStupeGitHubMonitor</ResourceId>
    <UserName>$funcStupeGitHubMonitor</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcstupegithubmonitor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>